{{template "head" .}}
{{template "brand_header" .}}
    {{if .Done}}
        <p class="lede">This browser session has ended.</p>
    {{else}}
        {{if .Error}}<div class="error">{{.Error}}</div>{{end}}
        <p class="lede">End your session on this server?</p>
        <form method="POST" action="/oauth/logout">
            {{template "csrf_field" .}}
            <input type="hidden" name="confirm" value="yes">
            <input type="hidden" name="id_token_hint" value="{{.IDTokenHint}}">
            <input type="hidden" name="client_id" value="{{.ClientID}}">
            <input type="hidden" name="post_logout_redirect_uri" value="{{.PostLogoutRedirectURI}}">
            <input type="hidden" name="state" value="{{.State}}">
            <button type="submit">Sign out</button>
        </form>
    {{end}}
{{template "card_close" .}}
{{template "brand_footer" .}}
