{{template "head" .}}
{{template "brand_header" .}}
    {{if .Error}}
    <div class="error">{{.Error}}</div>
    {{if .ErrorDescription}}<p class="lede">{{.ErrorDescription}}</p>{{end}}
    {{else}}
    <p class="lede">Paste this code into the application that asked you to sign in.</p>
    <div class="form-group">
        <label for="authorization-code">Authorization code</label>
        <input id="authorization-code" readonly value="{{.Code}}" onclick="this.select()">
    </div>
    {{if .State}}<p class="hint">State: {{.State}}</p>{{end}}
    {{end}}
{{template "card_close" .}}
{{template "brand_footer" .}}
