{{template "head" .}}
{{template "brand_header" .}}
    <p class="lede">Register an authenticator for this account. The token stays in the page address fragment.</p>
    <div class="qr-code">
        <img id="enroll-qr" src="data:image/png;base64,{{.QRCodeBase64}}" alt="Enrollment QR code" width="220" height="220">
    </div>
    <p id="enroll-url">{{.EnrollURL}}</p>
    <div id="registration-token" class="secret-box">{{.RegistrationToken}}</div>
{{template "card_close" .}}
{{template "brand_footer" .}}
