{{template "head" .}}
{{template "brand_header" .}}
    {{if .Brand.ClientName}}<p class="lede">Continue to {{.Brand.ClientName}}</p>{{end}}
    {{if .Error}}<div class="error">{{.Error}}</div>{{end}}
    <form method="POST" action="/register">
        {{template "oauth_fields" .}}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required autofocus autocomplete="username">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" autocomplete="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required autocomplete="new-password">
        </div>
        {{template "bot_widget" .}}
        <button type="submit">Create account</button>
    </form>
{{template "card_close" .}}
    <p class="below">Already have an account? <a href="/login?client_id={{.ClientID}}&redirect_uri={{.RedirectURI}}&response_type={{.ResponseType}}&scope={{.Scope}}&state={{.State}}&nonce={{.Nonce}}&code_challenge={{.CodeChallenge}}&code_challenge_method={{.CodeChallengeMethod}}">Sign in</a></p>
{{template "brand_footer" .}}
