{{template "head" .}}
{{template "brand_header" .}}
    {{if .Done}}
        <p class="lede">Your password has been updated.</p>
    {{else}}
        {{if .Error}}<div class="error">{{.Error}}</div>{{end}}
        <form method="POST" action="/reset">
            {{template "csrf_field" .}}
            <input type="hidden" name="token" value="{{.Token}}">
            <div class="form-group">
                <label for="password">New password</label>
                <input type="password" id="password" name="password" placeholder="New password" required autofocus autocomplete="new-password">
            </div>
            <button type="submit">Update password</button>
        </form>
    {{end}}
{{template "card_close" .}}
    <p class="below"><a href="/login">Sign in</a></p>
{{template "brand_footer" .}}
